${ require('templates/partials/header.html') }
<div class="bandeirinhas">
</div>
  <section class="content-wrapper" id="content">
    <div>
      <section class="jumbotron-wrapper">
        <div class="jumbotron-container">
          <div class="jumbotron">
            <div class="jumbotron__main">
              <img class="jumbotron__logo d-none d-md-block" height="auto" src="${ require('img/logo-caipira.svg') }" alt="Logo Caipyra 2019">
              <img class="jumbotron__logo d-md-none" height="100%" src="${ require('img/logo-caipira.svg') }" alt="Logo Caipyra 2019">
              <a href="#" disabled class="pybr-button--blue d-none d-sm-block" style="margin: 10px 0">
                Ingressos
                <strong class="d-block">EM BREVE</strong>
              </a>
              <a target="_blank" href="https://speakerfight.com/events/caipyra-2019-palestras/" class="pybr-button--light d-none d-sm-block">
                Inscrições palestras
              </a>
            </div>
            <div class="jumbotron__side">
              <img class="d-none d-sm-block" width="100%" src="${ require('img/data-evento-caipyra.svg') }" alt="de 7 a 10 de Julho de 2019 em São Carlos, São Paulo">
              <img class="d-sm-none pybr-date" src="${ require('img/data-evento-caipyra.svg') }" alt="de 7 a 10 de Julho de 2019 em São Carlos, São Paulo">
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="about-wrapper">
      <a id="about" class="anchor" aria-hidden="true"></a>
      <div class="about-container">
        <div class="about">
          <article class="about__article--left">
            <header>
              <h1 class="about__article__section-title--left color-green-caip" style="color:#26D0C5">
                SÃO_CARLOS/SP
              </h1>
            </header>
            <p class="about__article__body ">
              Sede do Caipyra do ano passado, a cidade de São Carlos é conhecida por sua história e belas paisagens naturais com uma pitada de tecnologia. O município traz um museu ao céu aberto com casarões e igrejas e ainda muito verde com áreas de cerrado e fragmentos de mata preservada, incluindo exemplares de araucária, árvore-símbolo da cidade.
            </p>
            <p>
              As duas grande universidade (USP e UFSCar) garantem para a cidade um clima acadêmico, tecnológico e industrial que lhe conferiu o título de Capital da Tecnologia com centros de pesquisa mundialmente reconhecidos pela excelência e diversidade. Venha conhecer!
            </p>

          </article>
          <article class="about__article--right">
            <header>
              <h1 class="about__article__section-title--right" style="color:#26D0C5">
                O EVENTO
              </h1>
            </header>
            <p class="about__article__body">
              O Caipyra é um evento inspirado na Python Brasil (maior evento Python da América Latina) e visa, sem fins lucrativos, disseminar conhecimento sobre diversas áreas da tecnologia. 

				Como o próprio nome já diz, o Caipyra, é um encontro organizado pela comunidade Python do interior de São Paulo, para pessoas interessadas em conhecer ou se aprofundar nesta linguagem, porém aberto a diversas tecnologias que são trazidas e abordadas pelos nossos ilustres convidados. <a href=https://github.com/grupy-sanca/caipyra2018/blob/master/report/report.md" target="_blank">Veja como foi o evento do ano passado!</a>

				O evento está na sua quarta edição e será realizado na cidade São Carlos - São Paulo, no Instituto de Ciências Matemáticas e Computacional na Universidade de São Paulo (USP). 
            </p>
          </article>
        </div>
      </div>
    </section>
    
    <section class="schedule-wrapper">
      <a id="schedule" class="anchor" aria-hidden="true"></a>
      <div class="schedule-container">
        <div class="schedule">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left" style="color:#C0208E">
                Programação
              </h1>
            </div>
          </header>
          <div class="schedule-body">
          	<h2>
                Em breve
            </h2>
          </div>
        </div>
      </div>
    </section>


    <section class="location-wrapper">
      <a id="location" class="anchor" aria-hidden="true"></a>
      <div class="location-container">
        <div class="location">
          <header class="section-header-wrapper">
            <div class="section-header--right" >
              <h1 class="section-title-blue--right" style="color:#26D0C5; border-color:#26D0C5" >
                LOCAIS
              </h1>
            </div>
          </header>
          <div class="location__info">
            
            <article class="location__info__article">
              <header class="article__header">
                <h1 class="article__header__title">
                  Palestras e Keynotes - ICMC (USP/ São Carlos)
                </h1>
                <p class="article__header__subtitle">
                  Av. Trabalhador São-carlense, 400 - Centro, São Carlos - SP
                </p>
              </header>
            </article>

            <div class="softplan-banner">
              <img class="img-fluid" src="${ require('img/icmc_photo.jpg') }" alt="Fachada da Softplan">
              <a class="softplan-website" target="_blank" href="https://www.icmc.usp.br/">
                https://www.icmc.usp.br/
              </a>
            </div>

            <div class="cesusc-banner location-margin-spacer">
              <img class="img-fluid" src="${ require('img/tuto.jpg') }" alt="Definir">
            </div>


            <article class="location__info__article location-margin-spacer">
              <header class="article__header">
                <h1 class="article__header__title">
                  Tutoriais & Sprints - A definir
                </h1>
                <p class="article__header__subtitle">
                  Em breve
                </p>
              </header>
            </article>

            <article class="location__info__article location-margin-spacer">
              <header class="article__header">
                <h1 class="article__header__title">
                  Django Girls - A Definir
                </h1>
                <p class="article__header__subtitle">
                  Em breve
                </p>
              </header>
            </article>
            
            <div class="softplan-banner  location-margin-spacer">
              <img class="img-fluid" src="${ require('img/dg.jpg') }" alt="Django Girls">
            </div>

          </div>


        </div>
      </div>
    </section>
    <section class="map-wrapper">
      <a id="map" class="anchor" aria-hidden="true"></a>
      <div class="map-container">
        <div class="map">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left" style="color:#C0208E">
                MAPAS DO EVENTO
              </h1>
            </div>
          </header>
          <article class="location__info__article">
            <header class="article__header">
              <h1 class="article__header__title" style="color:#C0208E">
                Palestras e Keynotes - ICMC (USP) 
              </h1>
            </header>
          </article>
          <div class="softplan-banner">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3699.1117250384723!2d-47.89712098487827!3d-22.00702971191621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b877325a2f2381%3A0x7923e6d8ad682ad1!2sICMC!5e0!3m2!1spt-BR!2sbr!4v1549678360794"
              width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

      </div>
    </section>
    <section class="sponsors-wrapper">
      <a id="sponsors" class="anchor" aria-hidden="true"></a>
      <div class="sponsors-container">
        <div class="sponsors">
          <header class="section-header-wrapper">
            <div class="section-header--right">
              <h1 class="section-title--right" style="color:#C0208E">
                PATROCINADORES
              </h1>
            </div>
          </header>
          <!--div class="sponsors__gold" id="gold">
            <h2 class="sponsor-category-title">
              OURO
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor">
                <a href="https://www.python.org/psf/" target="_blank"><img class="img-fluid" src="${ require('img/logo_psf.png') }" alt="Python Software Foundation"></a>
              </li>
            </ul>
          </div-->


          <div class="sponsors__support" id="apoio">
            <h2 class="sponsor-category-title">
              APOIO
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor">
                <a href="http://associacao.python.org.br/" target="_blank">
                  <img class="img-fluid" src="${ require('img/logo_apyb.png') }" alt="APYB - Associação Python Brasil">
                </a>
              </li>
              <li class="sponsor">
                <a href="https://www.icmc.usp.br/" target="_blank">
                  <img class="img-fluid" src="${ require('img/icmc.png') }" alt="ICMC-USP">
                </a>
              </li>
            </ul>
          </div>

           <div class="sponsors__support" id="reaçizacao">
            <h2 class="sponsor-category-title">
              Realização
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor">
                <a href="https://www.facebook.com/grupysanca/" target="_blank">
                  <img class="img-fluid" src="${ require('img/grupy-sanca.png') }" alt="Grupy-Sanca">
                </a>
              </li>
            </ul>
          </div>
          <div class="sponsors__call-to-action">
            <h2>QUERO PATROCINAR</h2>

            <p>Mande um email para <a href="mailto:contato@grupysanca.com.br">contato@grupysanca.com.br</a></p>
            <!-- a href="/quero-patrocinar" id="beASponsor" class="call-to-sponsor pybr-button-large--light">
              QUERO PATROCINAR
            </a -->
          </div>
        </div>
      </div>
    </section>
  </section>
${ require('templates/partials/footer.html') }
