<div class="track tabcontent active" id="day01">
  <div class="track-leisure">
    <p class="hour"><time>08:30</time></p>
    <p class="talk">Abertura</p>
  </div>

  <div class="track-keynote">
    <p class="hour"><time>09:00</time></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Filipe Fernandes</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>10:00</time></p>
    <p class="talk">Palestra PSF</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>10:10</time></p>
    <p class="talk">Como o maior portal de acesso aberto de periódicos científicos foi refeito utilizando python</p>
    <p class="speaker">Juan Funez</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>10:50</time></p>
    <p class="talk">Coffee break</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>11:20</time></p>
    <p class="talk">Programação Assíncrona com Twisted</p>
    <p class="speaker">Tonny Dourado</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
  </div>

  <div class="track-keynote">
    <p class="hour"><time>13:30</time></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Danilo "Mawkee" Martins</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>14:30</time></p>
    <p class="talk">Palestra Loadsmart</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>14:40</time></p>
    <p class="talk">Microservices em Python: intro, desafios e soluções</p>
    <p class="speaker">Guilherme Vierno</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>15:20</time></p>
    <p class="talk">Coffee break</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>15:50</time></p>
    <p class="talk">Palestra relâmpago</p>
    <p class="speaker">Em breve</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>16:30</time></p>
    <p class="talk">Não é apenas futebol</p>
    <p class="speaker">Cássio Botaro</p>
  </div>

  <div class="track-keynote">
    <p class="hour"><time>17:10</time></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Nicole Cysneiros</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>18:10</time></p>
    <p class="talk">Fechamento do 1º dia</p>
  </div>
</div>
