$blue: #356F9F;
$grey: #CCC;
$bronze: #CD9932;
$dark-blue: #102A8B;
$python-blue: #C0208E;
$python-yellow: #26D0C5;
$background-light: #F9F8F4;
$background-dark: white;
$nav-height: 100px;
$python-brand-blue: #4584B6;
$python-brand-yellow: #FFDE57;
$python-brand-grey: #646464;
$pink-caip: #C0208E;
$green-caip: #26D0C5;
$blue-caip: #102A8B;

// RESPONSIVE BREAKPOINTS
$breakpoint-xs: 576px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1200px;
